.header {
  display: flex;
  
  justify-content: center;
}

.disclaimer {
  padding: 10px;
  line-height: 0.3em;
}

.header header {
  background-color: #2c2c2c;
  padding: 0px 10px 5px;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form label {
  display: flex;
  justify-content: space-between;
}

.form li {
  color: red;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form #submit {
  display: flex;
  justify-content: end;
  align-items: right;
}

.htmlBody {
  background-color: #1E1E1E;
  color: #DBE3DA;
}